<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Page</title>
</head>
<body>
    <form action="/user/add" method="post">
        <label for="Name">Name:</label>
        <input type="text" name="name" value=><br>
        <label for="Email">Email:</label>
        <input type="email" name="email" value=><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>